@media screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
    z-index: 100;
    align-items: center;
    color: #e8e8e8;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: var(--sm-size);
    left: 0;
    width: 100%;
    background-color: var(--menu-color);
    display: none;
    animation: slideInOut 0.5s ease;
  }

  .menu.open {
    display: flex;
    height: var(--sm-size);
    justify-content: center;
  }

  .menu.closed {
    display: none;
    animation: slideOut 0.5s ease;
  }

  .menu li {
    text-align: center;
  }

  .user {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -1.2rem;
    position: absolute;
    text-align: center;
  }

  .user-text-login {
    display: flex;
    font-size: small;
  }

  @keyframes slideInOut {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }

  .post-detail{
    width: 90% !important;
    margin: auto;
  }

  .settings-page{
    max-width: 400px !important;
  }
}

@media (max-width: 400px) {

  .switch {
    width: 2rem;
  }

  .slider {
    background-color: transparent;
    transition: .8s;
  }

  .slider:before {
    background: transparent;
    transition: .8s;
  }

  input:checked+.slider {
    background-color: transparent;
  }

  input:checked + .slider:before {
    transform: translateX(0%);
    box-shadow: inset 15px -4px 0px 15px rgba(255, 215, 0, 0.8); /* Sun color (Golden Yellow) */
  }
  

  .mySwiper {
    width: 100%;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: var(--button-color) !important;
    font-size: var(--small-size);
  }

  .settings-page{
    max-width: 300px !important;
  }

}

@media (max-width: 420px) {

  .form-container input,
  textarea,
  #reason,
  #contact-btn {
    width: 250px;
  }
}


@media (max-width: 575px){
  .sub-line span {
    display: none;
  }
  .search-results{
    width: 200px;
  }
  .search-input{
    width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .nav-text {
    display: none;
  }

  .menu li {
    flex: 1;
  }

  .settings-page{
    max-width: 250px !important;
  }
}

@media (max-width: 450px) {

  .article {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;

  }

  .image img {
    margin-bottom: 10px;
  }

  .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .article-header {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .date {
    margin-top: 10px;
  }

  .content {
    padding-left: 0;
  }

  .blog-container {
    height: 16rem;
  }

  .text-content p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-content {
    max-width: 100%;
  }

}
@media (max-width: 295px){
  .back-to-top {
    bottom: 74px;
  }
}

/* Unified modal container */
.unified-modal {
  background: var(--background);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

/* Unified input styles */
.unified-input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Unified button styles */
.unified-button {
  padding: 10px;
  border-radius: 4px;
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

.emoji-button {
  margin: 5px;
}

/* Modal overlay styles (common for all modals) */
.modal-overlay,
.unified-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal container (common for all modals) */
.modal-container {
  background: var(--background);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%; /* Responsive modal width */
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

/* Close button */
.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.close-modal svg {
  color: red;
  background-color: var(--text-color);
  border: none;
  padding: 2px;
  border-radius: 6px;
}

/* Input fields (common for all modals) */
.modal-input {
  display: block;
  margin: 10px 0; /* Vertical margin for spacing */
  padding: 8px;
  width: 100%; /* Full width input fields */
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Button group for actions (common for all modals) */
.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Common buttons styling */
.modal-button {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin: 4px;
  background-color: var(--button-color--form);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.modal-button svg{
  margin-right: 4px;
  font-size: 1.2em;
  vertical-align: middle;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
}

.cancel-button {
  background-color: red;
  color: white;
}

/* Trigger button */
.modal-trigger-button {
  background: none;
  border: none;
  cursor: pointer;
}
