@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
  box-sizing: border-box;
}

.navbar {
  font-family: "Protest Riot", sans-serif;
  box-shadow: 0px 1px rgb(31, 30, 30);
  justify-content: space-between;
  background-color: #1e1e1e;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  display: flex;
  z-index: 100;
  height: var(--sm-size);
  right: 0;
  left: 0;
  top: 0;
}

.navbar a {
  color: #e8e8e8;
  text-decoration: none;
}

.navbar a:hover,
a.active {
  text-decoration: underline var(--auth-color);
  transition: .4s ease-in-out;
}

.logo {
  font-size: 1.5rem;
  z-index: 100;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu {
  display: flex;
}

.menu ul {
  list-style-type: none;
  justify-content: center;
  margin-right: 20px;
  display: flex;
}

.menu li {
  padding: 10px;
  cursor: pointer;
}

.user {
  list-style: none;
}


/* Search bar */

.search-container {
  position: relative;
  display: inline-block;
}

.search-button {
  padding: 8px;
  padding-right: 15px;
  background-color: transparent;
  color: #e8e8e8;
  border: none;
  cursor: pointer;
}

.search-input {
  display: none;
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  padding: 8px;
  padding-right: 15px;
  background-color: rgb(93, 93, 93);
  border-radius: 10px;
  outline: 1px solid #00a6fb;
  border: 0;
  outline-offset: 3px;
  color: var(--background);
  font-size: 14px;
  line-height: 20px;
  width: 200px;
  animation: slide .3s ease-out;
}

.search-input::placeholder {
  color: var(--background);
}

.search-input.active {
  display: block;
}

@keyframes slide {
  from {
    top: 0;
  }

  to {
    top: 100%;
  }
}

/* Sub link */

.sub-line {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Protest Riot", sans-serif;
}

.sub-line ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sub-line li {
  margin: 0 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.sub-line a,
.sub-line button {
  color: #e8e8e8;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sub-line a.active {
  text-decoration: underline;
}

.sub-line a:hover,
.sub-line button:hover  {
  text-decoration: underline;
}

.sub-line svg,
.sub-line button svg {
  margin-right: 5px;
  font-size: 20px;
}

.sub-line button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Protest Riot", sans-serif;
}


/* Submenu */

.submenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: var(--sm-size);
  top: var(--sm-size);
  width: 100%;
  background-color: #474747;
  padding: 5px;
  right: 0;
  left: 0;
  z-index: 99;
}

/* Toggle */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  --background: #3b3b3b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fef797;
  background: var(--background);
  transition: .5s;
}

input:checked+.slider {
  background-color: var(--background);
}

input:checked+.slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

/* Footer  */
footer {
  position: fixed;
  background-color: #1e1e1e;
  padding: 10px 0 5px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 2px var(--box-shadow-day-night);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

hr {
  width: 100%;
}

.info-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info p {
  margin: 0;
  font-size: 14px;
  color: #e8e8e8;
}

.info a {
  color: #007bff;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.social-icon-div {
  display: flex;
}

.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-icon li {
  margin-left: 15px;
}

.social-icon a {
  color: #e8e8e8;
  text-decoration: none;
  font-size: 20px;
}

.social-icon a:hover {
  color: #007bff;
}

.footer-about p {
  font-style: normal;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
}

.back-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #e8e8e8;
  color: var(--menu-color);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.back-to-top.show {
  display: block;
  opacity: 1;
}

.main {
  margin-top: 90px;
  flex-grow: 1;
  margin-bottom: 80px;
  text-align: center;
}

.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

.home-image {
  background-image: url('./intelli.jpg');
}

.home h1,
p {
  /* font-family: "Protest Riot", sans-serif; */
  max-width: 600px;
  text-align: center;
}

.Explore {
  height: 30px;
  width: 160px;
  border-radius: 8px;
  font-family: "Protest Riot", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--button-color);
  background: transparent;
  border-color: var(--button-color);
  border-style: double;
  cursor: pointer;
}

.Explore:hover {
  background-color: var(--hover-color);
  transition: 0.9s;
}

.swiper-container {
  width: 100%;
  background-color: var(--background);
  padding: 20px;
  color: var(--text-color);
}

.swiper-container h3 {
  text-align: center;
}

.mySwiper {
  width: 80%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--button-color) !important;
}

.card {
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: -1px 0px 6px -2px var(--shadow-color);
  padding: 20px;
  text-align: center;
  height: 100%;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  font-size: 16px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  display: inline-block;
  background-color: transparent;
  letter-spacing: 2px;
  color: var(--auth-color);
  border: 2px solid var(--button-color);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: .8rem;
  /* transition: background-color 0.3s ease-in-out; */
}

a.button {
  color: var(--button-color);
}

/* User */

.login {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25rem;
  color: var(--text-color);
  place-items: center;

}

/* Add this CSS to your stylesheet */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: auto;
  border-left-color: var(--text-color);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.login-tem {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.login-tem h1 {
  margin-bottom: 10px;
}

.login-tem p {
  margin: 10px 0;
}

.login-tem input {
  width: calc(100%);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--auth-color);
  box-sizing: border-box;
  background-color: transparent;
  color: var(--text-color);
}

.password-field {
  position: relative;
}

.show-password {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-tem button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: var(--button-color--form);
  color: var(--text-color);
  cursor: pointer;
}

.login-tem button:hover {
  background-color: #0056b3;
}

.login-tem p .account {
  color: var(--auth-color);
  cursor: pointer;
}

.message {
  color: var(--text-color);
  margin: 10px 0;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Contact  */
/* .my-form {
  margin-top: 1rem;
} */

.form-container {
  background-color: var(--background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container input,
textarea,
#reason {
  width: 400px;
  padding: .5rem;
  margin: .4rem;
  border-radius: 5px;
  border: 1px solid var(--auth-color);
  background-color: transparent;
  color: var(--text-color);
}

#contact-btn {
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: var(--button-color--form);
  color: var(--text-color);
  cursor: pointer;
}

option {
  background-color: #ffff;
  color: #3b3b3b;
}

::placeholder {
  color: var(--text-color);
}

.recent-articles {
  max-width: 1000px;
  margin: 0 auto;
  color: var(--text-color);
}

.recent-articles h2 {
  text-align: center;
  margin-bottom: 20px;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 20px 0;
  margin: 1rem;
}

.image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--box-shadow-day-night);
}

.content {
  flex: 1;
  padding-left: 20px;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-header h3 {
  margin: 0;
}

.date {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  white-space: pre-wrap;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more {
  text-decoration: none;
  font-weight: bold;
  float: inline-end;
  color: var(--button-color);
  text-decoration: underline;
}

/* Container for the button and filter bar */
.filter-container {
  position: relative;
  display: inline-block;
}

/* Button for toggling the filter bar */
.search-button {
  padding: 8px;
  padding-right: 15px;
  background-color: transparent;
  color: #e8e8e8;
  border: none;
  cursor: pointer;
}

/* The filter bar itself */
.filter-bar {
  display: none;
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  background-color: rgb(93, 93, 93);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
  animation: slide .3s ease-out;
  z-index: 1;
}

/* Show the filter bar when it's active */
.filter-bar.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(93, 93, 93);
}

/* Filter components */
.filter-component {
  width: 100%;
  min-width: 150px;
}

.filter-group {
  width: 100%;
  min-width: 200px;
}

.filter-component select,
.filter-group input {
  width: 100%;
  max-width: 200px;
  padding: 4px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 1em;
  background-color: #ffffff;
  color: #495057;
  outline: none;
  transition: border-color 0.2s ease;
}

.filter-component select:focus,
.filter-group input:focus {
  border-color: #80bdff;
}

/* Slide animation */
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.parent-wrap{
  box-sizing: border-box;
  margin-top: 1.5rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 2fr repeat(3, 1fr);
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  justify-content: center;
  text-align: left;
}

.parent div {
  background-color: var(--background);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0px 1.5px var(--box-shadow-day-night);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.parent div:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 1px var(--box-shadow-day-night);
}

.div1 img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div1 h3 {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.div1 p {
  font-size: 1em;
  color: var(--text-color);
}

.parent h3 {
  font-size: 1.25em;
  margin-bottom: 16px;
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 8px;
}

.parent ul {
  list-style: none;
  width: 100%;
  margin-left: -24px ;
}

.parent li {
  background: var(--dashboard-color);
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;
}

.parent li:hover {
  /* background-color: #dee2e6; */
}

.delete-button,
.like-button,
.comment-button,
.updates-button,
.reading-button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.2s ease;
}

.edit-user{  
  border: none;
  background-color: var(--dashboard-color);
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

.like-button {
  background-color: var(--menu-color);
  color: rgb(22, 38, 254);
}
.comment-button{
  background-color: var(--menu-color);
  color: #71f042;
}

.reading-button{
  background-color: var(--menu-color);
}

.updates-button{
  color: yellow;
  background-color: var(--menu-color);
}

.delete-button:hover {
  background-color: #c0392b;
}

.div1 { grid-area: 2 / 1 / 4 / 2; }
.div2 { grid-area: 2 / 2 / 4 / 3; }
.div3 { grid-area: 2 / 3 / 6 / 4; }
.div4 { grid-area: 2 / 4 / 3 / 5; }
.div5 { grid-area: 4 / 1 / 6 / 3; }
.div6 { grid-area: 3 / 4 / 6 / 5; }

/* Media Query for Tablets */
@media (max-width: 1200px) {
  .parent {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, auto);
  }

  .div1 { grid-area: 2 / 1 / 3 / 3; }
  .div2 { grid-area: 3 / 1 / 4 / 2; }
  .div3 { grid-area: 3 / 2 / 5 / 3; }
  .div4 { grid-area: 4 / 1 / 5 / 2; }
  .div5 { grid-area: 5 / 1 / 6 / 3; }
  .div6 { grid-area: 6 / 1 / 7 / 3; }
}

/* Media Query for Mobile Devices */
@media (max-width: 550px) {
  .parent {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, auto);
  }

  .div1, .div2, .div3, .div4, .div5, .div6 {
      grid-area: auto;
  }

  .parent div {
      padding: 15px;
      font-size: 16px;
  }
}

/* BlogEditor.css */

.blog-editor-container {
  display: flex;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.editor-main {
  flex: 3;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* background-color: #fff; */
}

.editor-title-input {
  width: 100%;
  font-size: 28px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text-color);
}

/* .ql-toolbar.ql-snow span{
  color: var(--auth-color) !important;
  background-color: var(--background);
} */

.editor-content {
  height: 400px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--background);
}

.media-upload {
  margin-top: 20px;
}

.upload-area {
  border: 2px dashed #aaa;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-area:hover {
  border-color: #888;
}

.url-upload {
  margin-top: 20px;
}

.url-upload input {
  padding: 12px;
  margin-right: 10px;
  width: calc(100% - 140px);
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text-color);
}

.url-upload button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.code-block-section {
  margin-top: 20px;
}

.code-block-textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace;
}

.preview-section {
  margin-top: 40px;
}

.preview-content {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: var(--background);
  border-radius: 8px;
}

.preview-content h2 {
  margin-top: 0;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.editor-sidebar {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ddd;
  background-color: var(--background);
  border-radius: 8px;
}
.editor-sidebar h4{
  color: var(--text-color);
}

.labels-section {
  margin-bottom: 20px;
}

.labels-section input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text-color);
}

.publish-section {
  margin-top: 20px;
}

.publish-section button,
.draft-section button {
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--button-color--form);
}

.draft-section {
  margin-top: 20px;
}

.delete-content-btn {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.video-wrapper {
  margin-top: 10px;
}

.video-wrapper iframe,
.video-wrapper video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
